Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

In [4]:
#setting up the example for each type data type

A string is a sequence of one or more characters (letters, numbers, symbols)

Strings exist within either single quotes ' or double quotes " or even triple quotes  ‘ ‘ ‘

Strings are not understood by python, it is a message to the user in the user’s local language like Hindi, Marathi, Gujrathi.

In [3]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

Integers
Integers are whole numbers that can be positive, negative, or 0.

An integer is many times called an int.

In [5]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

A float is a number with a decimal point.

In [6]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

Complex numbers are specified as 
real-part + imaginary-part j.

Complex numbers are used for electrical signal processing, almost all of electrical appliances 
rely heavily on complex number calculations.

In [8]:
x = complex(8+1j)
print(x)
print(type(x))

(8+1j)
<class 'complex'>

In [18]:
#booleaN DATA type return True and False the value are respresented by its captial intial.

In [19]:
x = bool(5)
print(x)
print(type(x))

True
<class 'bool'>

In [27]:
y=8
x =-5
z= x == y
print(z)
print(type(z))

False
<class 'bool'>

A list refers to a collection of elements

The elements of a list do not all have to be of the same data type.

A list is an ordered sequence of data.

In [28]:
#To create a list we can directly use the square brackets and place the elements inside it.

In [47]:
l1=['apple','mango']
l1
print(l1)
print(type(l1))

['apple', 'mango']
<class 'list'>

example = [] # empty list

example = list() # empty list

example = [1,2,3] # list with three elements

example = [0, "zero"] # elements can be of mixed types

In [30]:
#Alternative

In [48]:
l1=list('apple')
print(l1)
print(type(l1))

['a', 'p', 'p', 'l', 'e']
<class 'list'>

In [49]:
x = list(("apple", "banana", "cherry"))
x
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [50]:
x = list(("apple", "banana", "cherry",("namrata")))
print(x)
print(type(x))

['apple', 'banana', 'cherry', 'namrata']
<class 'list'>

In [51]:
x = range(3)
print(x)
print(type(x))

range(0, 3)
<class 'range'>

Indexing just means accessing elements.
To access elements in a list, you can use the square bracket notation. There are many methods to access elements in python.

In [61]:
x = list(("apple", "banana", "cherry",("namrata")))
print(x[-1]) #indexing

namrata

In [62]:
x = list(("apple", "banana", "cherry",("namrata")))
print(x[0]) #indexing

apple

In [63]:
## Index & range with List

Slicing : 
Slicing a list gives us another list, instead of a single element. Slicing is an incredibly useful feature in python, one that you will use a lot!

A slice specifies a start index and an end index, and creates and returns a new list based on the indices. The indices are separated by a colon ':'. 

[start: stop : step]

In [68]:
x = list(("apple", "banana", "cherry", "mango",'tomato')) # create a list
print(x[0:5]) # Whole list, prints [1,2,3,4,5]
print(x[1:5])
print(x[4:5])
print(x[:])

['apple', 'banana', 'cherry', 'mango', 'tomato']
['banana', 'cherry', 'mango', 'tomato']
['tomato']
['apple', 'banana', 'cherry', 'mango', 'tomato']

In [69]:
# Note that the last example[:] is often used to create duplicate lists. 
#Remember that new_list = old_list just creates a reference to old_list, but creates a copy of the old_list.

In [71]:
x_new = x[:]
x_new

['apple', 'banana', 'cherry', 'mango', 'tomato']

In [94]:
x = list(("apple", "banana", "cherry", "mango",'tomato')) # indexies is always from left to right
print(x[-1:])
print(x[:-2])
print(x[-2:])
print(x[:])
print(x[::-1]) #I reverse the list order
print(x[:-1:2]) #it will count on -1 as start

['tomato']
['apple', 'banana', 'cherry']
['mango', 'tomato']
['apple', 'banana', 'cherry', 'mango', 'tomato']
['tomato', 'mango', 'cherry', 'banana', 'apple']
['apple', 'cherry']

In [92]:
my_list = range(100)

In [93]:
my_list

range(0, 100)

In [ ]:
#Tupple